nav {
    /* 임시 너비 조정 해제 필요 */
    height: calc(100vh - 48px);
    flex-basis: 200px; 
    /* flex-basis: 20px;  */
    /* background-color: gold; */
}

ul {
    margin: 16px 0;
}

.item {
    position: relative;
    padding: 24px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.title {
    margin-left: 16px;
}
.count {
    margin-left: auto;
}
.item:first-child::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 160px;
    border-bottom: 1px solid #e1dfdd;
}

