.container {
    position: relative;
    margin-top: 8px;
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 1.6px 3.6px 0px var(--bg-shadow);
}
.taskGroup {
    display: flex;
    align-items: center;
}
.checkBoxGroup {
    position: relative;
    cursor: pointer;
}
.unchecked {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.checkBoxGroup:hover .unchecked {
    display: block;
}
.textGroup {
    width: 100%;
    /* background-color: rgb(15, 160, 160); */
}
.textGroup:hover {
    background-color: var(--bg-highlight);
}
.task {
    padding: 0 16px;
    color: var(--font-color-primary);
}
.taskDone {
    padding: 0 16px;
    color: var(--font-color-primary);
    text-decoration: line-through;
}
.inputInactive {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.inputActive {
    display: inline-block;
    padding: 0 16px;
    line-height: 1.4;
    color: var(--font-color-primary);
}
.inputActive:focus {
    /* input 가로 값도 손봐야함 */
    width: 360%;
    background-color: inherit;
}
.inputActive:focus:hover {
    background-color: inherit;
}

.btnGroup {
    display: flex;
    justify-content: space-between;
    min-width: 72px;
}
.btnGroup img {
    cursor: pointer;
}

.starGroup {
    position: relative;
    cursor: pointer;
}
.filledStar {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.starGroup:hover .filledStar {
    display: block
}


.container:hover {
    background-color: var(--bg-highlight);
}
.container:first-child {
    margin-top: 16px;
}